[submodule "config/i3_config"]
	path = old/config/i3_config
	url = https://github.com/kiddico/i3_config
[submodule "paper/paper-gtk-theme"]
	path = old/paper/paper-gtk-theme
	url = https://github.com/snwh/paper-gtk-theme
[submodule "paper/paper-icon-theme"]
	path = old/paper/paper-icon-theme
	url = https://github.com/snwh/paper-icon-theme
